.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  align-items: flex-start;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* Media para telas menor que 768px */
@media (max-width: 768px) {

  /* 
  16 -> 100%
  14 -> x = 87,5
  */
  html {
    font-size: 87.5%;
  }
}